-- Initial schema for the time tracking system

-- =============================================
-- PROFILES
-- =============================================
create table if not exists public.profiles (
  id uuid primary key references auth.users (id) on delete cascade,
  role text not null check (role in ('admin', 'employee')),
  full_name text
);

alter table public.profiles enable row level security;

create policy "Profiles are viewable by everyone"
  on public.profiles for select
  using (true);

create policy "Profiles are insertable by everyone"
  on public.profiles for insert
  with check (true);

create policy "Profiles are updatable by everyone"
  on public.profiles for update
  using (true)
  with check (true);

create policy "Profiles are deletable by everyone"
  on public.profiles for delete
  using (true);

-- =============================================
-- CLIENTS
-- =============================================
create table if not exists public.clients (
  id uuid primary key default gen_random_uuid(),
  name text not null,
  created_at timestamptz not null default now()
);

alter table public.clients enable row level security;

create policy "Clients are viewable by everyone"
  on public.clients for select
  using (true);

create policy "Clients are insertable by everyone"
  on public.clients for insert
  with check (true);

create policy "Clients are updatable by everyone"
  on public.clients for update
  using (true)
  with check (true);

create policy "Clients are deletable by everyone"
  on public.clients for delete
  using (true);

-- =============================================
-- FREELANCERS
-- =============================================
create table if not exists public.freelancers (
  id uuid primary key default gen_random_uuid(),
  name text not null,
  created_at timestamptz not null default now()
);

alter table public.freelancers enable row level security;

create policy "Freelancers are viewable by everyone"
  on public.freelancers for select
  using (true);

create policy "Freelancers are insertable by everyone"
  on public.freelancers for insert
  with check (true);

create policy "Freelancers are updatable by everyone"
  on public.freelancers for update
  using (true)
  with check (true);

create policy "Freelancers are deletable by everyone"
  on public.freelancers for delete
  using (true);

-- =============================================
-- SERVICE RECORDS
-- =============================================
create table if not exists public.service_records (
  id uuid primary key default gen_random_uuid(),
  client_id uuid not null references public.clients (id) on delete cascade,
  date date not null,
  start_time time not null,
  end_time time not null,
  observation text
);

alter table public.service_records enable row level security;

create policy "Service records are viewable by everyone"
  on public.service_records for select
  using (true);

create policy "Service records are insertable by everyone"
  on public.service_records for insert
  with check (true);

create policy "Service records are updatable by everyone"
  on public.service_records for update
  using (true)
  with check (true);

create policy "Service records are deletable by everyone"
  on public.service_records for delete
  using (true);

-- =============================================
-- SERVICE PARTICIPANTS
-- =============================================
create table if not exists public.service_participants (
  id uuid primary key default gen_random_uuid(),
  service_record_id uuid not null references public.service_records (id) on delete cascade,
  worker_type text not null check (worker_type in ('employee', 'freelancer')),
  profile_id uuid references public.profiles (id) on delete cascade,
  freelancer_id uuid references public.freelancers (id) on delete cascade,
  constraint service_participants_worker_check check (
    (worker_type = 'employee' and profile_id is not null and freelancer_id is null)
    or
    (worker_type = 'freelancer' and freelancer_id is not null and profile_id is null)
  )
);

alter table public.service_participants enable row level security;

create policy "Service participants are viewable by everyone"
  on public.service_participants for select
  using (true);

create policy "Service participants are insertable by everyone"
  on public.service_participants for insert
  with check (true);

create policy "Service participants are updatable by everyone"
  on public.service_participants for update
  using (true)
  with check (true);

create policy "Service participants are deletable by everyone"
  on public.service_participants for delete
  using (true);
-- Add username column to profiles for login by username or email
alter table public.profiles
  add column if not exists username text unique,
  add column if not exists created_at timestamptz not null default now();
-- Add email and is_active columns to profiles
alter table public.profiles
  add column if not exists email text,
  add column if not exists is_active boolean not null default true;
-- Restrict delete policies so that:
-- - Admins can delete any record
-- - Employees can only delete records where they are participants

-- =============================================
-- SERVICE RECORDS - DELETE
-- =============================================
drop policy if exists "Service records are deletable by everyone" on public.service_records;

create policy "Service records are deletable by admins or own participants"
  on public.service_records for delete
  using (
    exists (
      select 1 from public.profiles
      where id = auth.uid() and role = 'admin'
    )
    or
    exists (
      select 1 from public.service_participants sp
      where sp.service_record_id = service_records.id
        and sp.worker_type = 'employee'
        and sp.profile_id = auth.uid()
    )
  );

-- =============================================
-- SERVICE PARTICIPANTS - DELETE
-- =============================================
drop policy if exists "Service participants are deletable by everyone" on public.service_participants;

create policy "Service participants are deletable by admins or own"
  on public.service_participants for delete
  using (
    exists (
      select 1 from public.profiles
      where id = auth.uid() and role = 'admin'
    )
    or
    (
      worker_type = 'employee'
      and profile_id = auth.uid()
    )
  );

-- =============================================
-- CLIENTS - DELETE (only admins)
-- =============================================
drop policy if exists "Clients are deletable by everyone" on public.clients;

create policy "Clients are deletable by admins only"
  on public.clients for delete
  using (
    exists (
      select 1 from public.profiles
      where id = auth.uid() and role = 'admin'
    )
  );

-- =============================================
-- FREELANCERS - DELETE (only admins)
-- =============================================
drop policy if exists "Freelancers are deletable by everyone" on public.freelancers;

create policy "Freelancers are deletable by admins only"
  on public.freelancers for delete
  using (
    exists (
      select 1 from public.profiles
      where id = auth.uid() and role = 'admin'
    )
  );

-- =============================================
-- PROFILES - DELETE (only admins)
-- =============================================
drop policy if exists "Profiles are deletable by everyone" on public.profiles;

create policy "Profiles are deletable by admins only"
  on public.profiles for delete
  using (
    exists (
      select 1 from public.profiles
      where id = auth.uid() and role = 'admin'
    )
  );
-- Restrict update policies so that:
-- - Admins can update any record
-- - Employees can only update records where they are participants

-- =============================================
-- SERVICE RECORDS - UPDATE
-- =============================================
drop policy if exists "Service records are updatable by everyone" on public.service_records;

create policy "Service records are updatable by admins or own participants"
  on public.service_records for update
  using (
    exists (
      select 1 from public.profiles
      where id = auth.uid() and role = 'admin'
    )
    or
    exists (
      select 1 from public.service_participants sp
      where sp.service_record_id = service_records.id
        and sp.worker_type = 'employee'
        and sp.profile_id = auth.uid()
    )
  )
  with check (
    exists (
      select 1 from public.profiles
      where id = auth.uid() and role = 'admin'
    )
    or
    exists (
      select 1 from public.service_participants sp
      where sp.service_record_id = service_records.id
        and sp.worker_type = 'employee'
        and sp.profile_id = auth.uid()
    )
  );

-- =============================================
-- SERVICE PARTICIPANTS - UPDATE
-- =============================================
drop policy if exists "Service participants are updatable by everyone" on public.service_participants;

create policy "Service participants are updatable by admins or own"
  on public.service_participants for update
  using (
    exists (
      select 1 from public.profiles
      where id = auth.uid() and role = 'admin'
    )
    or
    (
      worker_type = 'employee'
      and profile_id = auth.uid()
    )
  )
  with check (
    exists (
      select 1 from public.profiles
      where id = auth.uid() and role = 'admin'
    )
    or
    (
      worker_type = 'employee'
      and profile_id = auth.uid()
    )
  );
-- Restrict select policies so that:
-- - Admins can view all records
-- - Employees can only view records where they are participants

-- =============================================
-- SERVICE RECORDS - SELECT
-- =============================================
drop policy if exists "Service records are viewable by everyone" on public.service_records;

create policy "Service records are viewable by admins or own participants"
  on public.service_records for select
  using (
    exists (
      select 1 from public.profiles
      where id = auth.uid() and role = 'admin'
    )
    or
    exists (
      select 1 from public.service_participants sp
      where sp.service_record_id = service_records.id
        and sp.worker_type = 'employee'
        and sp.profile_id = auth.uid()
    )
  );

-- =============================================
-- SERVICE PARTICIPANTS - SELECT
-- =============================================
drop policy if exists "Service participants are viewable by everyone" on public.service_participants;

create policy "Service participants are viewable by admins or own"
  on public.service_participants for select
  using (
    exists (
      select 1 from public.profiles
      where id = auth.uid() and role = 'admin'
    )
    or
    (
      worker_type = 'employee'
      and profile_id = auth.uid()
    )
    or
    exists (
      select 1 from public.service_records sr
      where sr.id = service_participants.service_record_id
        and exists (
          select 1 from public.service_participants sp2
          where sp2.service_record_id = sr.id
            and sp2.worker_type = 'employee'
            and sp2.profile_id = auth.uid()
        )
    )
  );
-- Fix RLS policies for profiles and service_records
-- - Profiles: authenticated users can read their own profile and colleagues' profiles
-- - Service records: employees can only read records where they are participants

-- =============================================
-- PROFILES - SELECT
-- =============================================
drop policy if exists "Profiles are viewable by everyone" on public.profiles;

create policy "Profiles are viewable by authenticated users"
  on public.profiles for select
  using (
    auth.uid() is not null
  );

-- =============================================
-- SERVICE RECORDS - SELECT
-- =============================================
drop policy if exists "Service records are viewable by everyone" on public.service_records;
drop policy if exists "Service records are viewable by admins or own participants" on public.service_records;

create policy "Service records are viewable by admins or own participants"
  on public.service_records for select
  using (
    exists (
      select 1 from public.profiles
      where id = auth.uid() and role = 'admin'
    )
    or
    exists (
      select 1 from public.service_participants sp
      where sp.service_record_id = service_records.id
        and sp.worker_type = 'employee'
        and sp.profile_id = auth.uid()
    )
  );

-- =============================================
-- SERVICE PARTICIPANTS - SELECT
-- =============================================
drop policy if exists "Service participants are viewable by everyone" on public.service_participants;
drop policy if exists "Service participants are viewable by admins or own" on public.service_participants;

create policy "Service participants are viewable by admins or own"
  on public.service_participants for select
  using (
    exists (
      select 1 from public.profiles
      where id = auth.uid() and role = 'admin'
    )
    or
    (
      worker_type = 'employee'
      and profile_id = auth.uid()
    )
    or
    exists (
      select 1 from public.service_records sr
      where sr.id = service_participants.service_record_id
        and exists (
          select 1 from public.service_participants sp2
          where sp2.service_record_id = sr.id
            and sp2.worker_type = 'employee'
            and sp2.profile_id = auth.uid()
        )
    )
  );
-- Add hourly_rate column to clients table
alter table public.clients
  add column if not exists hourly_rate numeric(10, 2) not null default 0;

-- Update RLS policies to include the new column (existing policies already cover all columns)
-- Fix RLS for service_records and service_participants inserts
-- - Add created_by column to service_records to track the creator
-- - Ensure insert policies allow authenticated users
-- - Update select policy to allow creator to see their own records

-- =============================================
-- SERVICE RECORDS - ADD created_by
-- =============================================
alter table public.service_records
  add column if not exists created_by uuid references public.profiles (id) on delete set null;

-- =============================================
-- SERVICE RECORDS - INSERT POLICY
-- =============================================
drop policy if exists "Service records are insertable by everyone" on public.service_records;

create policy "Service records are insertable by authenticated users"
  on public.service_records for insert
  with check (
    auth.uid() is not null
  );

-- =============================================
-- SERVICE RECORDS - SELECT POLICY (include creator)
-- =============================================
drop policy if exists "Service records are viewable by admins or own participants" on public.service_records;

create policy "Service records are viewable by admins, own participants or creator"
  on public.service_records for select
  using (
    exists (
      select 1 from public.profiles
      where id = auth.uid() and role = 'admin'
    )
    or
    exists (
      select 1 from public.service_participants sp
      where sp.service_record_id = service_records.id
        and sp.worker_type = 'employee'
        and sp.profile_id = auth.uid()
    )
    or
    created_by = auth.uid()
  );

-- =============================================
-- SERVICE PARTICIPANTS - INSERT POLICY
-- =============================================
drop policy if exists "Service participants are insertable by everyone" on public.service_participants;

create policy "Service participants are insertable by authenticated users"
  on public.service_participants for insert
  with check (
    auth.uid() is not null
  );
-- Fix infinite recursion in RLS policies for service_participants and service_records
-- The previous policies had circular dependencies:
--   service_participants SELECT -> queries service_records -> queries service_participants -> ...

-- =============================================
-- SERVICE PARTICIPANTS - Remove old recursive policies
-- =============================================
DROP POLICY IF EXISTS "Users can view service participants" ON public.service_participants;
DROP POLICY IF EXISTS "Users can insert service participants" ON public.service_participants;
DROP POLICY IF EXISTS "Users can update service participants" ON public.service_participants;
DROP POLICY IF EXISTS "Users can delete service participants" ON public.service_participants;

-- Also drop policies created by previous migrations
DROP POLICY IF EXISTS "Service participants are viewable by everyone" ON public.service_participants;
DROP POLICY IF EXISTS "Service participants are insertable by everyone" ON public.service_participants;
DROP POLICY IF EXISTS "Service participants are updatable by everyone" ON public.service_participants;
DROP POLICY IF EXISTS "Service participants are deletable by everyone" ON public.service_participants;
DROP POLICY IF EXISTS "Service participants are viewable by admins or own" ON public.service_participants;
DROP POLICY IF EXISTS "Service participants are updatable by admins or own" ON public.service_participants;
DROP POLICY IF EXISTS "Service participants are deletable by admins or own" ON public.service_participants;
DROP POLICY IF EXISTS "Service participants are insertable by authenticated users" ON public.service_participants;

-- =============================================
-- SERVICE PARTICIPANTS - Recreate direct non-recursive policies
-- =============================================
CREATE POLICY "Enable select for authenticated users"
ON public.service_participants FOR SELECT
TO authenticated
USING (true);

CREATE POLICY "Enable insert for authenticated users"
ON public.service_participants FOR INSERT
TO authenticated
WITH CHECK (true);

CREATE POLICY "Enable update for authenticated users"
ON public.service_participants FOR UPDATE
TO authenticated
USING (true);

CREATE POLICY "Enable delete for authenticated users"
ON public.service_participants FOR DELETE
TO authenticated
USING (true);

-- =============================================
-- SERVICE RECORDS - Remove old recursive policies
-- =============================================
DROP POLICY IF EXISTS "Users can view service records" ON public.service_records;
DROP POLICY IF EXISTS "Users can insert service records" ON public.service_records;
DROP POLICY IF EXISTS "Users can update service records" ON public.service_records;
DROP POLICY IF EXISTS "Users can delete service records" ON public.service_records;

-- Also drop policies created by previous migrations
DROP POLICY IF EXISTS "Service records are viewable by everyone" ON public.service_records;
DROP POLICY IF EXISTS "Service records are insertable by everyone" ON public.service_records;
DROP POLICY IF EXISTS "Service records are updatable by everyone" ON public.service_records;
DROP POLICY IF EXISTS "Service records are deletable by everyone" ON public.service_records;
DROP POLICY IF EXISTS "Service records are viewable by admins or own participants" ON public.service_records;
DROP POLICY IF EXISTS "Service records are updatable by admins or own participants" ON public.service_records;
DROP POLICY IF EXISTS "Service records are deletable by admins or own participants" ON public.service_records;
DROP POLICY IF EXISTS "Service records are insertable by authenticated users" ON public.service_records;
DROP POLICY IF EXISTS "Service records are viewable by admins, own participants or creator" ON public.service_records;

-- =============================================
-- SERVICE RECORDS - Recreate direct non-recursive policies
-- =============================================
CREATE POLICY "Enable select for authenticated users on service_records"
ON public.service_records FOR SELECT
TO authenticated
USING (true);

CREATE POLICY "Enable insert for authenticated users on service_records"
ON public.service_records FOR INSERT
TO authenticated
WITH CHECK (true);

CREATE POLICY "Enable update for authenticated users on service_records"
ON public.service_records FOR UPDATE
TO authenticated
USING (true);

CREATE POLICY "Enable delete for authenticated users on service_records"
ON public.service_records FOR DELETE
TO authenticated
USING (true);
-- Create extra_costs table for managing additional costs / materials linked to clients
-- Examples: laundry of bed linens, extra materials, etc.

CREATE TABLE IF NOT EXISTS public.extra_costs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  client_id UUID NOT NULL REFERENCES public.clients(id) ON DELETE CASCADE,
  date DATE NOT NULL,
  description TEXT NOT NULL,
  amount NUMERIC(10, 2) NOT NULL,
  service_record_id UUID REFERENCES public.service_records(id) ON DELETE CASCADE,
  created_by UUID REFERENCES public.profiles(id) ON DELETE SET NULL,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

ALTER TABLE public.extra_costs ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Enable all for authenticated users on extra_costs"
ON public.extra_costs FOR ALL TO authenticated USING (true) WITH CHECK (true);
-- Add active column to clients table for soft delete functionality
-- When active = false, the client is hidden from new entries but historical records are preserved

ALTER TABLE public.clients
  ADD COLUMN IF NOT EXISTS active BOOLEAN NOT NULL DEFAULT true;

-- Update the insert/update policies if needed (existing policies allow all authenticated users)
-- Add active column to freelancers table for soft delete functionality
-- When active = false, the freelancer is hidden from new entries but historical records are preserved
ALTER TABLE public.freelancers
  ADD COLUMN IF NOT EXISTS active BOOLEAN NOT NULL DEFAULT true;
-- Add individual start/end hours to service_participants
-- so each team member can have its own working hours, keeping
-- service_records as the display/billing hours for the client.

ALTER TABLE public.service_participants
  ADD COLUMN IF NOT EXISTS start_time time,
  ADD COLUMN IF NOT EXISTS end_time time;

-- Backfill existing rows, copying the parent record times where null.
UPDATE public.service_participants sp
SET 
  start_time = sr.start_time,
  end_time = sr.end_time
FROM public.service_records sr
WHERE sp.service_record_id = sr.id
  AND sp.start_time IS NULL;
